

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  width: 95%;
  max-width: 500px;
  gap: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease forwards;

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      height: 51px;
      padding: 12px 10px;
      font-size: 18px;
      font-weight: 600;
      border-radius: 8px;
      border: none;
      cursor: pointer;

      .icon {
        width: 20px;
        height: 20px;
      }

      &.default {
        background-color: #EBEDEF;
        transition: 0.1s ease-in-out;

        &:active {
          background-color: #d1d1d1;
          transition: 0.1s ease-in-out;
        }
      }

      &.pay {
        width: 40%;
        color: white;
        background-color: #FF1C7B;
        transition: 0.1s ease-in-out;

        &:active {
          background-color: #ce1663;
          transition: 0.1s ease-in-out;
        }

        &:disabled {
          background-color: #ccc;
          color: #666;
          opacity: 0.6;
          transition: none;
          cursor: default;
        }

        .loader {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .spinner {
          border: 4px solid rgba(255, 255, 255, 0.6);
          border-top: 4px solid rgba(255, 255, 255, 1);
          border-radius: 50%;
          width: 20px;
          height: 20px;
          animation: spin 0.6s linear infinite;
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
      }
    }

  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;

    .title {
      font-size: 26px;
      font-weight: 600;
    }

    .subtitle {
      font-size: 16px;
      color: rgba(6, 23, 44, 0.6);
    }
  }

  .content {
    width: 100%;
    text-align: justify;

    .input-wrapper {
      display: flex;
      width: 100%;
      border-radius: 8px;
      padding: 8px;
      gap: 8px;
      background-color: rgba(6, 23, 44, 0.08);
      display: flex;
      align-items: center;

      .amount {
        appearance: none;
        border: none;
        outline: none;
        font-size: 17px;
        height: 40px;
        box-sizing: border-box;
        padding: 0;
        flex-grow: 1;
        background-color: transparent;
        text-align: end;
        cursor: pointer;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      .icon {
        display: flex;
        pointer-events: none;
        align-items: center;
        height: 24px;
        width: 24px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.dialog-overlay {
  &.dialog-open {
    animation: fadeIn 0.25s ease forwards;
  }

  &.dialog-close {
    animation: fadeOut 0.25s ease forwards;
  }
}