<div class="main">
  <div class="image"
       [ngStyle]="{'background-image': 'url(' + currentDog.imageUrl + ')'}">
    <img src="../../../assets/arrow-prew.svg" 
         class="arrow-prew" 
         alt="arrow"
         (click)="returnToHome($event)">
    <img [src]="'../../../assets/'+ (currentDog.liked ? 'like-fill.svg' : 'like-fill-white.svg')" 
         class="like" 
         alt="like"       
         (click)="changeLike($event)">
  </div>
  <div class="content">
    <div class="container">
      <div class="header">
        <h2 class="title">
          {{currentDog.name}}
          <img [src]="'../../../assets/' + (currentDog.gender === 'male' ? 'male.svg' : 'female.svg')" 
               class="icon" 
               alt="gender">
        </h2>
        <p class="subtitle">{{currentDog.breed}}</p>
      </div>
      <div class="distance">
        <img src="../../../assets/location.svg" 
             class="icon"
             alt="location">
        <p class="score">2,5 miles</p>
      </div>
    </div>
    <div class="container">
      <div class="attribute">
        <h3>Age</h3>
        <p>6 yr</p>
      </div>
      <div class="attribute">
        <h3>Height</h3>
        <p>35 inch</p>
      </div>
      <div class="attribute">
        <h3>Weight</h3>
        <p>17 lb</p>
      </div>
    </div>
    <div class="container" 
         style="flex-grow: 1; align-items: baseline;">
      <div class="description scroll-container">
        <span class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, possimus fuga numquam velit ducimus nam voluptates magnam ipsa laborum at vel rerum, architecto tempore voluptate? Cumque ducimus dolorem expedita eos?</span>
      </div>
    </div>
    <div class="container buttons">
      <button class="button donate"
              (click)="openDialog('donate')">
        Donate
        <img src="../../../assets/donate.svg" class="icon" alt="donate">
      </button>
      <button class="button adopt"
              (click)="openDialog('adopt')">
        Adopt
        <img src="../../../assets/adopt.svg" class="icon" alt="adopt">
      </button>
    </div>
  </div>
</div>
<donate-dialog *ngIf="isDonateDialogVisible"
               [isVisible]="isDonateDialogVisible"
               (close)="closeDialog('donate')">
</donate-dialog>
<adopt-dialog *ngIf="isAdoptDialogVisible" 
               [isVisible]="isAdoptDialogVisible"
               (close)="closeDialog('adopt')">
</adopt-dialog>